/* style.css */

#banner-card {

    background-color: lightgray;
    
}

#drop-down-card {

    background-color: aqua;
}

#hor-bar-card {

    background-color: bisque;

}

#gauge-card {

    background-color: green;

}

#demographics-card {

    background-color: white;
    color: white;
}

.card-header {

    background-color: blue;
}

.card-body {

    color: black;
}

#bubble-card {

    background-color: yellow;

}